<div class="modal fade" id="modalAddSeries" tabindex="-1" role="dialog" aria-labelledby="coucou" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">coucou2</h3>
            </div>
            <div class="modal-body">
                yolo
            </div>
            <div class="modal-footer">
                toto
            </div>
        </div>

    </div>
</div>